.chat-container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #deedf4;

  .chat__header{
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #123DB5;
    color: white;

    span {
      font-weight: bolder;
    }
  }

  .chat__content{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;

    &__video {
      margin-top: 80px;
    }

    &__text {
      width: 100%;
      padding: 20px;
      position: absolute;
      bottom: 3%;
      gap: 9px;
      display: flex;
      align-items: center;
      justify-content: center;

      &__input{
        width: 100%;
        background-color: rgba(41, 65, 128, 0.91);
        display: flex;
        align-items: center;
        padding: 4px;
        border-radius: 40px;

        input{
          width: 100%;
          outline: none;
          border: none;
          background: none;
          color: white;

          &:focus{
            outline: none;
          }

          &::placeholder{
            color: rgba(255, 255, 255, 0.82);
          }

        }

        &__btn-send{
          margin-left: auto;
        }

      }

      &__mic {
        background: white;
        padding: 4px;
        border-radius: 100%;

        mat-icon {
          color: #123DB5;
        }

      }

    }

  }

}
